* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    height: 47.5vw;
    width: 100vw;
}
.top{
    padding-top: 1vw;
    height: 50%;
    width: 100%;
    background-image: linear-gradient(pink, blue);
}
.top-navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
}
.sub{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2vw;
    height: 100%;
    width: 45%;
    background-image: linear-gradient(rgba(240, 248, 255, 0.5), rgba(255, 255, 255, 0.5));
}
a{
    text-decoration: none;
    color: black;
}
.bottom{
    height: 50%;
    width: 100%;
    background-color: red;
}
